body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*
    My Style 
*/

body {
    background-color: #f4f4f4;
}

#index-title h5 {
    font-size: 50px;
}

.out:hover {
    background-color: red;
    border-radius: 10px
}

.asterisk {
    font-size: 30px;
    position: absolute;
    right: 585px;
    top: 244px;
    color: #f00;
}

.radio1 {
    position: 0;
    width: 374px;
    height: 36px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #495057;
    padding: 6px 12px;
}

.login {
    width: 400px;
    margin: 100px auto;
}

    .login .form-control {
        /*text-align: center;*/
    }

    .login input, .radio1 {
        margin-bottom: 20px;
    }

    .login .form-control, .radio1 {
        background-color: #D3DCE3;
    }

.form-control {
    position: relative;
}

ul {
    list-style: none;
}

.bg-light {
    background-color: #00c6d7 !important
}

.navbar-nav .active {
    background-color: #1b7ce5;
    border-radius: 10px;
}

.nav-item {
    padding: 0px 20px;
}

a h3 {
    font-size: 1.75rem;
    color: #fff;
    font-family: inherit;
}

li a i {
    color: #fff;
}

.badge {
    color: #fff;
    background-color: #00c6d7
}

ul li .user-name {
    color: #fff;
    font-size: 20px;
}

.body-down-navbar {
    position: relative;
    ;
    top: 72px;
}

/* start side bar */


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    /*padding: 15px 10px;*/
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.product-bg {
    background-image: url("../images/back3.jpg");
    /*background-size: 120%;*/
    white-space:inherit
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }
}

.bordrerimg {
    width: 250px;
    min-height: 350px;
    background: #FFF;
}

    .bordrerimg .sidenew {
        width: 150px;
        height: 150px;
        border-radius: 50px;
        margin-left: 51px;
        margin-top: 15px;
    }

    .bordrerimg h3 {
        color: gray;
        text-align: center;
        padding-top: 15px;
    }

    .bordrerimg p {
        color: gray;
        text-align: center;
        line-height: 24px;
        font-size: 19px;
    }

.navbar {
    display: flex;
}

/*AdminNavbar*/
.main-table {
    -webkit-box-shadow: 0 3px 10px #DDD;
    -moz-box-shadow: 0 3px 10px #DDD;
    box-shadow: 0 3px 10px #DDD;
}

    .main-table td {
        background-color: #FFF;
        vertical-align: middle !important;
    }

    .main-table .btn {
        padding: 2px 10px;
    }

    .main-table tr:first-child td {
        background: #333;
        color: #FFF;
    }

.text-center {
    padding-bottom: 20px;
    color: #70777e;
}

.active {
    margin-left: 5px;
    background-color: #007bff !important;
    border: 1px solid #007bff !important;
}

.effect:hover {
    background-color: #1b7ce5;
    border-radius: 10px;
}

.row {
    text-align: center;
}

    .row .show {
        max-height: 300px;
        min-height: 200px;
        max-width: 300px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .row span {
        position: absolute;
        top: 150px;
        left: 130px;
        color: #e9ecef;
    }

    .row .goto {
        border-radius: 5px;
    }

.list-image {
    min-height: 325px;
}

    .list-image .name {
        color: #828080;
        padding-top: 10px;
        float: left;
        margin-left: 20px;
    }

    .list-image .price {
        float: right;
        margin-right: 18px;
    }

    .list-image p {
        position: absolute;
        right: 130px;
        top: 270px;
    }

.back img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    max-height: 300px;
}

.members_icon {
    position: absolute;
    right: 219px;
    top: 9px;
}

.row {
    text-align: -webkit-center;
}
